<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.autocut</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/usr/local/opt/autocut/libexec/dist/app.js</string>
    </array>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>NODE_ENV</key>
        <string>production</string>
        <key>HOMEBREW_PREFIX</key>
        <string>/usr/local</string>
    </dict>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/autocut.log</string>
    
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/autocut.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/usr/local/opt/autocut</string>
</dict>
</plist> 